<div class="gap-3 grid grid-cols-3 p-8">
  <div>
    <%= zoomable_image_tag 'photos/lifestyle/57FD19CB-057D-408F-A8EA-C4E0E18B64B5-24619-000005D3AC11F585.jpg', class: 'w-full mb-3', resize: '704x', optimize: true %>
    <%= zoomable_image_tag 'photos/lifestyle/4B1F4466-E9F5-4EE8-905E-A5188170AF95-24619-000005D5CB2A3166.jpg', class: 'w-full mb-3', resize: '704x', optimize: true %>
    <%= zoomable_image_tag 'photos/lifestyle/8C441154-66BC-445B-A91F-B2D5D55D3A43-24619-000005D34E225AA4.jpg', class: 'w-full mb-3', resize: '704x', optimize: true %>
    <%= zoomable_image_tag 'photos/lifestyle/95516F00-CF05-4178-BD66-FEA0493FD264-24619-000005D2AA6AF4E5.jpg', class: 'w-full mb-3', resize: '704x', optimize: true %>
    <%= zoomable_image_tag 'photos/lifestyle/91886425-2485-41A8-8066-6B6002D5D87A-43325-0000065E81D9C753.jpg', class: 'w-full mb-3', resize: '704x', optimize: true %>
    <%= zoomable_image_tag 'photos/lifestyle/A726155B-8A1F-451D-A22A-346F3FE300B0-43325-0000065DFA39413B.jpg', class: 'w-full mb-3', resize: '704x', optimize: true %>
    <%= zoomable_image_tag 'photos/lifestyle/06AE3848-611D-40E2-91F5-4762873F67C7-47668-0000078AD07B1F2A.jpg', class: 'w-full mb-3', resize: '704x', optimize: true %>
    <%= zoomable_image_tag 'photos/lifestyle/B9D1691C-6C7B-4865-8EF2-A9EB33C1B976-3241-0000016337583C6F.jpg', class: 'w-full mb-3', resize: '704x', optimize: true %>
    <%= zoomable_image_tag 'photos/lifestyle/FAB665AD-B033-4EDD-9E80-993B0447B04D-12993-0000022DCA7B2904.jpg', class: 'w-full mb-3', resize: '704x', optimize: true %>
    <%= zoomable_image_tag 'photos/lifestyle/44CAC46F-27AE-4536-B1EF-543B26A188DC-12993-00000229663AA4FF.jpg', class: 'w-full mb-3', resize: '704x', optimize: true %>
    <%= zoomable_image_tag 'photos/lifestyle/5C9A6E60-AB06-4C50-A480-A88D69CDFCD9-30282-000004A6BC816088.jpg', class: 'w-full mb-3', resize: '704x', optimize: true %>
    <%= zoomable_image_tag 'photos/lifestyle/C6CAB444-FA57-488E-9A01-A5904585E719-30282-000004A496BA31C6.jpg', class: 'w-full mb-3', resize: '704x', optimize: true %>
    <%= zoomable_image_tag 'photos/lifestyle/A7882EFC-0BF1-4B32-947C-D63D5A769309-12993-000004A2C5BA69D7.jpg', class: 'w-full mb-3', resize: '704x', optimize: true %>
    <%= zoomable_image_tag 'photos/lifestyle/7793A448-BE40-488C-9CAB-BFB19C0CC366-651-000000749796FC5C.jpg', class: 'w-full mb-3', resize: '704x', optimize: true %>
    <%= zoomable_image_tag 'photos/lifestyle/EE1925F6-2F8B-4D67-A335-650B82990DD9-24619-000004983492347F.jpg', class: 'w-full mb-3', resize: '704x', optimize: true %>
    <%= zoomable_image_tag 'photos/lifestyle/F77C649A-8D19-419B-AAA2-D08881806CBB-19348-000003A7FD7AB239.jpg', class: 'w-full mb-3', resize: '704x', optimize: true %>
    <%= zoomable_image_tag 'photos/lifestyle/528D7C5E-7B1A-4CB1-9B7E-42FE5A79E173-19348-000003A63E65BD24.jpg', class: 'w-full mb-3', resize: '704x', optimize: true %>
    <%= zoomable_image_tag 'photos/lifestyle/D8A68DD7-46E5-480C-B7AC-377C66526C34-19348-000002E0B4BCB29F.jpg', class: 'w-full mb-3', resize: '704x', optimize: true %>
  </div>

  <div>
    <%= zoomable_image_tag 'photos/lifestyle/D3772745-66AB-4FB2-96F3-D49CA6599550-24619-0000063F601D5660.jpg', class: 'w-full mb-3', resize: '704x', optimize: true %>
    <%= zoomable_image_tag 'photos/lifestyle/59D609D4-2703-4C99-B870-B1CBB34966D5-24619-00000491D82FFFB3.jpg', class: 'w-full mb-3', resize: '704x', optimize: true %>
    <%= zoomable_image_tag 'photos/lifestyle/31C20003-8090-43D1-BEF7-CEEE7217F7E5-24619-000005D7F1B1781F.jpg', class: 'w-full mb-3', resize: '704x', optimize: true %>
    <%= zoomable_image_tag 'photos/lifestyle/BB1EE2BA-EC98-4F9B-AD7E-773EDC34F09E-24619-000005D78E630EE5.jpg', class: 'w-full mb-3', resize: '704x', optimize: true %>
    <%= zoomable_image_tag 'photos/lifestyle/BCE458E1-8943-4A74-9E5E-3E9A760C0EBF-24619-000005D1A9615EA0.jpg', class: 'w-full mb-3', resize: '704x', optimize: true %>
    <%= zoomable_image_tag 'photos/lifestyle/D59DAECA-75C4-447F-87A7-9BA0C58F7251-24619-000005D1EF9D841E.jpg', class: 'w-full mb-3', resize: '704x', optimize: true %>
    <%= zoomable_image_tag 'photos/lifestyle/FEF25F86-0D9D-4117-A196-18D0BDDC6276-24619-000005D226B9D994.jpg', class: 'w-full mb-3', resize: '704x', optimize: true %>
    <%= zoomable_image_tag 'photos/lifestyle/A0C4028D-06AF-416B-90F5-CD37542F1197-47668-0000078A436AEB54.jpg', class: 'w-full mb-3', resize: '704x', optimize: true %>
    <%= zoomable_image_tag 'photos/lifestyle/0F4BE659-D3EF-4BDD-85A1-8AECFE82C0C4-47668-00000786E16D3A80.jpg', class: 'w-full mb-3', resize: '704x', optimize: true %>
    <%= zoomable_image_tag 'photos/lifestyle/B120D748-9B45-4286-BCC5-39AFC70E2202-47668-000007855D16E2BA.jpg', class: 'w-full mb-3', resize: '704x', optimize: true %>
    <%= zoomable_image_tag 'photos/lifestyle/D9FCE01F-AD45-4F81-B72D-461C8324D03C-12993-000002EFAB594023.jpg', class: 'w-full mb-3', resize: '704x', optimize: true %>
    <%= zoomable_image_tag 'photos/lifestyle/AD30CD58-2513-47BE-A3FF-C025A089AC57-12993-000002EE224E141E.jpg', class: 'w-full mb-3', resize: '704x', optimize: true %>
    <%= zoomable_image_tag 'photos/lifestyle/A958AF7D-427B-484A-B836-FAF3D78DC13D-12993-000002ED9E9A27D3.jpg', class: 'w-full mb-3', resize: '704x', optimize: true %>
    <%= zoomable_image_tag 'photos/lifestyle/76805443-F825-472C-8DB1-DBBDF717A65E-34392-0000054C36F5425B.jpg', class: 'w-full mb-3', resize: '704x', optimize: true %>
    <%= zoomable_image_tag 'photos/lifestyle/FACD2964-BF4E-428F-B8E9-9D1A3B9EEEA6-34392-0000054AF089A38B.jpg', class: 'w-full mb-3', resize: '704x', optimize: true %>
    <%= zoomable_image_tag 'photos/lifestyle/1C90B267-80D9-41A6-8210-12C73C5F7297-34392-000005495A20E952.jpg', class: 'w-full mb-3', resize: '704x', optimize: true %>
    <%= zoomable_image_tag 'photos/lifestyle/64968628-C418-46BD-8336-29389C23A1AD-19348-000002DCB4C7404C.jpg', class: 'w-full mb-3', resize: '704x', optimize: true %>
    <%= zoomable_image_tag 'photos/lifestyle/5CAF47DC-0B65-4535-8EBB-28BB6C0795A3-19348-000002DFAE8DF117.jpg', class: 'w-full mb-3', resize: '704x', optimize: true %>
  </div>

  <div>
    <%= zoomable_image_tag 'photos/lifestyle/BE4928E8-2D92-4285-917B-64C235A4D764-24619-0000063CCA28967A.jpg', class: 'w-full mb-3', resize: '704x', optimize: true %>
    <%= zoomable_image_tag 'photos/lifestyle/50463D1F-4B46-4D18-8327-F8E6842F337B-24619-000005D6F0D5AB0F.jpg', class: 'w-full mb-3', resize: '704x', optimize: true %>
    <%= zoomable_image_tag 'photos/lifestyle/50D203EC-4F14-4FB3-963A-BF4B740DCB7D-24619-000005D67FEE51B5.jpg', class: 'w-full mb-3', resize: '704x', optimize: true %>
    <%= zoomable_image_tag 'photos/lifestyle/617A23EB-8677-4E15-AA82-520EEFDEFAAF-24619-0000063D04708838.jpg', class: 'w-full mb-3', resize: '704x', optimize: true %>
    <%= zoomable_image_tag 'photos/lifestyle/0E566CB9-F7B2-4A99-A9B0-308A0E11D214-24619-0000063BF29AC76B.jpg', class: 'w-full mb-3', resize: '704x', optimize: true %>
    <%= zoomable_image_tag 'photos/lifestyle/B52429B0-0FE1-467E-B27B-BB6669BA7E6C-43325-0000065EB68FE867.jpg', class: 'w-full mb-3', resize: '704x', optimize: true %>
    <%= zoomable_image_tag 'photos/lifestyle/55A6C366-723E-4640-815B-586A820963F8-47668-00000786273485DD_2.jpg', class: 'w-full mb-3', resize: '704x', optimize: true %>
    <%= zoomable_image_tag 'photos/lifestyle/754CD66C-2849-445B-ACB4-C34E92074064-47668-000007845C68D0F4.jpg', class: 'w-full mb-3', resize: '704x', optimize: true %>
    <%= zoomable_image_tag 'photos/lifestyle/6128C53C-F9D9-4E6B-B009-777FA103184B-3241-000001676BBF5699.jpg', class: 'w-full mb-3', resize: '704x', optimize: true %>
    <%= zoomable_image_tag 'photos/lifestyle/FBA86AE1-7709-47C7-B7A1-8B4C89F95B91-30282-000004AA7B68B801.jpg', class: 'w-full mb-3', resize: '704x', optimize: true %>
    <%= zoomable_image_tag 'photos/lifestyle/38DDF6FA-3B2B-4D26-99B1-224B68E65921-30282-000004A9D5FEA310.jpg', class: 'w-full mb-3', resize: '704x', optimize: true %>
    <%= zoomable_image_tag 'photos/lifestyle/76EA387F-6376-472A-809D-CBE239B6E30A-30282-000004A6D42C9A3E.jpg', class: 'w-full mb-3', resize: '704x', optimize: true %>
    <%= zoomable_image_tag 'photos/lifestyle/230E6416-A5D4-4EC1-BD27-8AC490FCF4C3-30282-000005450894BEA0.jpg', class: 'w-full mb-3', resize: '704x', optimize: true %>
    <%= zoomable_image_tag 'photos/lifestyle/3DEA35F0-A7FA-4CE1-8AF4-5B7E390B958B-651-000000744D1BBBC1.jpg', class: 'w-full mb-3', resize: '704x', optimize: true %>
    <%= zoomable_image_tag 'photos/lifestyle/206DE956-78E0-472B-AAC0-625B7E5A74C8-651-000000748B66F6E7.jpg', class: 'w-full mb-3', resize: '704x', optimize: true %>
    <%= zoomable_image_tag 'photos/lifestyle/AE9173EB-D35A-4C29-8138-74059C63BB35-18473-000002BA4D76C3DA.jpg', class: 'w-full mb-3', resize: '704x', optimize: true %>
    <%= zoomable_image_tag 'photos/lifestyle/5BE44E65-61C3-436B-94A6-50DC1FCC31EF-18473-000002BB4B85BD4D.jpg', class: 'w-full mb-3', resize: '704x', optimize: true %>
    <%= zoomable_image_tag 'photos/lifestyle/99F59ED7-22A2-47CC-9E60-59EFBB261A91-9438-0000016DBDDF9531.jpg', class: 'w-full mb-3', resize: '704x', optimize: true %>
  </div>
</div>
