<div class="p-8">
  <div class="gap-3 grid grid-cols-2 mb-0">
    <div class="pr-4">
      <%= image_tag 'photos/people/84850002.jpg', class: 'w-full mb-3', optimize: true %>
    </div>

    <div class="pl-4">
      <%= image_tag 'photos/people/84840003.jpg', class: 'w-full mb-3', optimize: true %>
    </div>
  </div>

  <div class="p-8">
    <%= image_tag 'photos/people/84850004.jpg', class: 'mb-8 max-h-screen mx-auto', optimize: true %>
  </div>

  <div class="gap-3 grid grid-cols-2 mb-8">
    <div class="pr-4">
      <%= image_tag 'photos/people/84970029_2.jpg', class: 'w-full mb-3', optimize: true %>
    </div>

    <div class="pl-4">
      <%= image_tag 'photos/people/84850010.jpg', class: 'w-full mb-3', optimize: true %>
    </div>
  </div>

  <div class="p-8">
    <%= image_tag 'photos/people/80920001.jpg', class: 'mb-8 max-h-screen mx-auto', optimize: true %>
  </div>

  <div class="gap-3 grid grid-cols-2 mb-8">
    <div class="pr-4">
      <%= image_tag 'photos/people/10620020.jpg', class: 'w-full mb-3', optimize: true %>
    </div>

    <div class="pl-4">
      <%= image_tag 'photos/people/80920009.jpg', class: 'w-full mb-3', optimize: true %>
    </div>
  </div>

  <div class="p-8">
    <%= image_tag 'photos/people/80920005.jpg', class: 'mb-8 max-h-screen mx-auto', optimize: true %>
  </div>
</div>
