<div class="p-8">
  <div class="gap-3 grid grid-cols-2 mb-8">
    <div class="pr-4">
      <%= image_tag 'photos/products/05045178-E107-402A-9809-E3DC42303920-20023-0000031C77A50A1C.jpg', class: 'w-full mb-3', resize: '1036x', optimize: true %>
    </div>

    <div class="pl-4">
      <%= image_tag 'photos/products/721BF6C6-948A-4C22-85B2-ACC59844FD5F-20023-0000031C3A92A30F.jpg', class: 'w-full mb-3', resize: '1036x', optimize: true %>
    </div>
  </div>

  <div class="gap-3 grid grid-cols-2 mb-8">
    <div class="pr-4">
      <%= image_tag 'photos/products/78BCCDC0-7429-476B-BD78-066F82B6C210-20023-0000031A94195EE5.jpg', class: 'w-full mb-3', resize: '1036x', optimize: true %>
    </div>

    <div class="pl-4">
      <%= image_tag 'photos/products/CDF03282-1005-43A6-9CB2-F69AEF2D4220-20023-0000031BEE0B45F5.jpg', class: 'w-full mb-3', resize: '1036x', optimize: true %>
    </div>
  </div>

  <div class="gap-3 grid grid-cols-2 mb-8">
    <div class="pr-4">
      <%= image_tag 'photos/products/4E7EF930-C519-475E-9ED3-458913B9DD3B-20023-0000031A612A2D7E.jpg', class: 'w-full mb-3', resize: '1036x', optimize: true %>
    </div>

    <div class="pl-4">
      <%= image_tag 'photos/products/206E2ADF-D7CE-4664-A9B6-014E20EA38A8-20023-00000319EFD1B0FD.jpg', class: 'w-full mb-3', resize: '1036x', optimize: true %>
    </div>
  </div>

  <div class="gap-3 grid grid-cols-2 mb-8">
    <div class="pr-4">
      <%= image_tag 'photos/products/49009409-BD94-44F5-95CD-455F5865FFDB-20023-00000318D1606C7C.jpg', class: 'w-full mb-3', resize: '1036x', optimize: true %>
    </div>

    <div class="pl-4">
      <%= image_tag 'photos/products/CB21FF88-C531-45A4-8419-370976702AF9-20023-00000311714A1D27.jpg', class: 'w-full mb-3', resize: '1036x', optimize: true %>
    </div>
  </div>

  <div class="gap-3 grid grid-cols-2 mb-8">
    <div class="pr-4">
      <%= image_tag 'photos/products/9322E7E3-983A-4316-9885-277060298E0B-20023-0000031499D87B50.jpg', class: 'w-full mb-3', resize: '1036x', optimize: true %>
    </div>

    <div class="pl-4">
      <%= image_tag 'photos/products/854EA099-B4EB-424B-AA05-86F98E272FA0-20023-0000031395791336.jpg', class: 'w-full mb-3', resize: '1036x', optimize: true %>
    </div>
  </div>
</div>
