<div class="p-8">
  <%= image_tag 'photos/surf/1DBFF15D-B86A-4EF5-A4AD-6994748E6A5D-29597-000005073D85C5CE_3.jpg', class: 'w-full mb-3', resize: '2000x', optimize: true %>

  <div class="gap-3 grid grid-cols-2">
    <div class="p-8 pr-4">
      <%= image_tag 'photos/surf/F31AF7F3-0F4F-4E22-AA78-3EC648E072ED-61716-000008D6E70F6B8A_2.jpg', class: 'w-full mb-3', resize: '972x', optimize: true %>
    </div>

    <div class="p-8 pl-4">
      <%= image_tag 'photos/surf/83DF5965-4C6F-4E14-BF10-2A33F1D628BC-46986-00000812D5F459E4.jpg', class: 'w-full mb-3', resize: '972x', optimize: true %>
    </div>
  </div>

  <%= image_tag 'photos/surf/718D94C5-0C4E-4915-9AF4-DDEB9EF91153-7054-00000188699677AB.jpg', class: 'w-full mb-3', resize: '2000x', optimize: true %>

  <div class="gap-3 grid grid-cols-2">
    <div class="p-8 pr-4">
      <%= image_tag 'photos/surf/3.jpg', class: 'w-full mb-3', resize: '972x', optimize: true %>
    </div>

    <div class="p-8 pl-4">
      <%= image_tag 'photos/surf/1.jpg', class: 'w-full mb-3', resize: '972x', optimize: true %>
    </div>
  </div>

  <%= image_tag 'photos/surf/6D0E4B06-C2AC-47AF-940F-63CAB183948F-71878-00000A1B107B5BF2.jpg', class: 'w-full mb-3', resize: '2000x', optimize: true %>

  <div class="gap-3 grid grid-cols-2">
    <div class="p-8 pr-4">
      <%= image_tag 'photos/surf/0883B746-9DF4-4FB5-81E6-8006436D1813-29597-0000050719000D63.jpg', class: 'w-full mb-3', resize: '972x', optimize: true %>
    </div>

    <div class="p-8 pl-4">
      <%= image_tag 'photos/surf/C01CE28C-172C-492B-A4C9-EF1E90BEBE42-26654-000004165EC590C7.jpg', class: 'w-full mb-3' %>
    </div>
  </div>

  <div class="gap-3 columns-3 md:columns-1 lg:columns-3 mt-0">
    <%= image_tag 'photos/surf/4FB90009-0444-4CE5-8226-02BB9A82B768-46986-000007D143FC229F.jpg', class: 'w-full mb-3', resize: '704x', optimize: true %>
    <%= image_tag 'photos/surf/4.jpg', class: 'w-full mb-3', resize: '704x', optimize: true %>
    <%= image_tag 'photos/surf/5.jpg', class: 'w-full mb-3', resize: '704x', optimize: true %>
  </div>

  <div class="p-8">
    <%= image_tag 'photos/surf/BE61BC51-FE2A-426D-8E51-5315E8ABE27C-1014-0000014A9E54A2C1.jpg', class: 'w-full mb-3', resize: '2000x', optimize: true %>
  </div>

  <div class="gap-3 grid grid-cols-2">
    <div class="p-8 pr-4">
      <%= image_tag 'photos/surf/A4C608AE-46C5-41D0-A64A-F2C17B8FD09C-46986-000006D686608B5F.jpg', class: 'w-full mb-3', resize: '972x', optimize: true %>
    </div>

    <div class="p-8 pl-4">
      <%= image_tag 'photos/surf/D40FEE8D-12BD-44E2-BBB9-4A2C8D08EE37-29597-00000507D4B84A27.jpg', class: 'w-full mb-3', resize: '972x', optimize: true %>
    </div>
  </div>
</div>
